---
---

<div>
  <p>
    These are a few specific areas I am researching and some general areas I
    doodle in:
  </p>
  <ul class="mt-5">
    <li>
      <strong>Software 3.0:</strong>
      A new form of software powered by LLMs.
    </li>
    <li>
      <strong>Dynamic Mediums:</strong>
      Capability of AI systems to be a medium for dynamic representations.
    </li>
    <li>
      <strong>Collective Intelligence:</strong> Synergism of human + AI collectives.
    </li>
    <li>
      <strong>Cybersecurity:</strong> Pentesting & Capture the Flag - <a
        href={"https://tryhackme.com/p/HeroP"}
        target="_blank">ranked in top the 13%.</a
      >
    </li>
    <li>
      <strong>Synthetic Biology:</strong> Tools to empower citizen bioengineers.
    </li>
    <li>
      <strong>FPV Drones:</strong> Piloting and engineering 5in quadcopters.
    </li>
  </ul>
</div>
