---
---

<div>
  <p>These are a few topics I am researching:</p>
  <ul class="mt-5">
    <li>
      <strong>Software 3.0:</strong>
      A new form of software powered by LLMs.
    </li>
    <li>
      <strong>Dynamic Mediums:</strong>
      Capability of AI systems to be a medium for dynamic representations.
    </li>
    <li>
      <strong>Collective Intelligence:</strong> Synergetics of human + AI collectives.
    </li>
  </ul>
</div>
