---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        CybHuman
      </span>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-5">
      Hey, my name is Hithesh. I explore how humans and computers interact in
      the age of AI. Currently, I am building <a
        href={"https://www.basepod.ai/"}
        target="_blank">Basepod</a
      >, a project experimenting at the intersection of collective intelligence,
      new forms of HCI and media. I co-founded <a
        href={"https://twitter.com/AlgoveraAI"}
        target="_blank">Algovera</a
      >, and led the product team consisting of three senior ML engineers. I’ve
      been fortunate to be part of the <a
        href={"https://www.tcd.ie/tangent/programmes/accelerators/launchbox/"}
        target="_blank">LaunchBox</a
      > and <a href={"https://www.kernel.community/en/"} target="_blank"
        >Kernel</a
      > communities. I grew up and live in Ireland but make periodic visits to SF.
      I completed my undergrad at Trinity College Dublin and pursued MSc in Computer
      Science at University of Bath.
    </p>
  </div>
</section>
